@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
    font-weight: bold;
}

.container{
    width: 60%;
    height:auto;
    background-color: aqua;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 2em;
    /* margin-top: 5em; */
    border-radius: 1em;
    color: saddlebrown;
}

.container  .container-div{
    background-color: orange;
    text-align: center;
    align-items: center;
    width: inherit;
    margin: auto;
    border-radius: 0.5em;
    color: purple;

}


a{
    width: inherit;
    cursor: pointer;
    text-decoration: none;
}

footer{
    margin: auto;
    text-align: center;
}

input{
    background-color: white;
    text-align: center;
    align-items: center;
    width: inherit;
    margin: auto;
    border-radius: 0.5em;
    color: purple;
    width: fit-content;
    margin: 1em;
}
h1{
    color: rgba(243, 12, 101, 0.651);
}

.output-div{
    color: blue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 1em;

}

.question-div{
    text-align: left;
    background-color:rgb(236, 238, 98);
    padding-left: 1em;
    border-radius: 00.5em;
}

button{
    background-color: orange;
    text-align: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    border-radius: 0.5em;
    color: purple;
    padding: 1em;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3em;
    cursor: pointer;
}

